# Created by https://www.gitignore.io/api/clojure

### Clojure ###
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
/js/
/cljs-test-runner-out/
/.cljs_node_repl/
/.cpcache/
/.clj-kondo/.cache
/.shadow-cljs/
/out/
/test-results/
/node_modules/
.nrepl-port
.tern-port
**/.DS_Store

/release-js/lib/
/test-js/


# End of https://www.gitignore.io/api/clojure
