# Created by https://www.gitignore.io/api/clojure

### Clojure ###
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
/js/
/cljs-test-runner-out/
/.cljs_node_repl/
/.cpcache/
/out/
/test-results/
.nrepl-port


# End of https://www.gitignore.io/api/clojure
