{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        instaparse          {:mvn/version "1.4.10"}
        clj-fuzzy           {:mvn/version "0.4.1"}}

 :paths ["src"]

 :mvn/repos {"central"  {:url "https://repo1.maven.org/maven2/"}
             "clojars"  {:url "https://clojars.org/repo/"}
             "sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}

 :aliases
 {:master {:override-deps {org.clojure/clojure {:mvn/version "1.10.0-master-SNAPSHOT"}}}

  :with-optional-deps {:extra-deps {io.xapix/axel-f.base64 {:local/root "./base64"}
                                    io.xapix/axel-f.json {:local/root "./json"}
                                    io.xapix/axel-f.geo {:local/root "./geo"}}}

  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.439"}}}

  :cljs-watch-repl {:main-opts ["-m" "cljs.main"
                                "--watch" "src/axel_f/v2"
                                "-co" "axel_f.dev.js.edn"
                                "--compile"
                                "--repl"
                                ]}

  :bench {:extra-deps {criterium          {:mvn/version "0.4.4"}
                       com.taoensso/tufte {:mvn/version "2.0.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}

  :coverage {:extra-deps {cloverage {:mvn/version "RELEASE"}}
             :main-opts  ["-m" "cloverage.coverage"
                          "--src-ns-path" "src"
                          "--test-ns-path" "test"
                          "--codecov"]}

  :cljs-runner {:extra-deps {olical/cljs-test-runner {:mvn/version "2.1.0"}}
                :main-opts  ["-m" "cljs-test-runner.main"]}

  :clj-runner {:extra-deps {com.cognitect/test-runner
                            {:git/url "https://github.com/cognitect-labs/test-runner"
                             :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
               :main-opts  ["-m" "cognitect.test-runner"
                            "-d" "test"]}}}
