{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        clj-fuzzy {:mvn/version "0.4.1"}
        cheshire {:mvn/version "5.8.1"}
        digest {:mvn/version "1.4.8"}}

 :paths ["src"]

 :mvn/repos {"central"  {:url "https://repo1.maven.org/maven2/"}
             "clojars"  {:url "https://clojars.org/repo/"}
             "sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}

 :aliases
 {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "RELEASE"}}}

  :bench {:extra-deps {criterium          {:mvn/version "0.4.4"}
                       com.taoensso/tufte {:mvn/version "2.0.1"}}}

  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}

  :kaocha {:extra-paths ["test"]
           :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}
                        lambdaisland/kaocha {:mvn/version "0.0-413"}
                        lambdaisland/kaocha-junit-xml {:mvn/version "0.0-63"}
                        lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}
                        lambdaisland/kaocha-cljs {:mvn/version "0.0-21"}}}

  :unit {:main-opts ["-m" "kaocha.runner" "unit"]}

  :unit-cljs {:main-opts ["-m" "kaocha.runner" "unit-cljs"]
              :extra-deps {org.clojure/clojurescript {:mvn/version "RELEASE"}}
              :override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}

  :watch {:main-opts ["-m" "kaocha.runner" "unit" "--watch"]}}}
